---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>

			body {
				background-color: black;
			}

			h1, a:visited{
				color: plum;
			}

			p, a {
				color: white;
			}



		</style>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>Blog section</h1>

		<p>I will upload content related to my Astro journey in this section ⊹ ࣪ ˖</p>
		<ul>
			<li><a href="/posts/post-1">Post 1</a></li>
			<li><a href="/posts/post-2">Post 2</a></li>
		</ul>
	</body>
</html>
