---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle = "Lauraceae's blog">
	<h2>Welcome to this place, stay cozy. This is a blog related to Astro learning.</h2>
</BaseLayout>