---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>

			body {
				background-color: black;
			}

			h1, a:visited{
				color: plum;
			}

			p, a {
				color: white;
			}



		</style>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Lauraceae's cozy blog</h1>

		<p>Hi everyone! I'm developing my first blog supported by Astro as my first Astro project.</p>
	</body>
</html>

