---
const { platform, username } = Astro.props;
---
<style>
  a {
    padding: 0.5rem 1rem;
    color: rgb(255, 230, 177);
    background-color: rgb(115, 65, 0);
    text-decoration: none;
  }

  html.dark a {
  color: white;
  background-color: #709f5a;
  }
</style>

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>